.vscode
fgi_first_app_module_name
fgi_first_app_module_name/webapp/Component.js
temp/

└─ 🧩 004 - FIORI/└─ 🧩 08 - ODATA CONTROLLER & DATA BINDING/15 - 🍧 BINDING - C.md
└─ 🧩 004 - FIORI/└─ 🧩 08 - ODATA CONTROLLER & DATA BINDING/16 - 🍧 BINDING - R.md
└─ 🧩 004 - FIORI/└─ 🧩 08 - ODATA CONTROLLER & DATA BINDING/17 - 🍧 BINDING - U.md
└─ 🧩 004 - FIORI/└─ 🧩 08 - ODATA CONTROLLER & DATA BINDING/18 - 🍧 BINDING - D.md

└─ 🧩 004 - FIORI/└─ 🧩 09 - NAVIGATION

└─ 🧩 004 - FIORI/└─ 🧩 10 - SDK