.vscode
fgi_first_app_module_name
fgi_first_app_module_name/webapp/Component.js
temp/

└─ 🧩 004 - FIORI/└─ 🧩 08 - ODATA CONTROLLER & DATA BINDING/15 - 🍧 BINDING - C.md
└─ 🧩 004 - FIORI/└─ 🧩 08 - ODATA CONTROLLER & DATA BINDING/16 - 🍧 BINDING - R.md
└─ 🧩 004 - FIORI/└─ 🧩 08 - ODATA CONTROLLER & DATA BINDING/17 - 🍧 BINDING - U.md
└─ 🧩 004 - FIORI/└─ 🧩 08 - ODATA CONTROLLER & DATA BINDING/18 - 🍧 BINDING - D.md

└─ 🧩 004 - FIORI/└─ 🧩 11 - BINDING/02 - 🍧 BINDING - C.md
└─ 🧩 004 - FIORI/└─ 🧩 11 - BINDING/03 - 🍧 BINDING - R.md
└─ 🧩 004 - FIORI/└─ 🧩 11 - BINDING/04 - 🍧 BINDING - U.md
└─ 🧩 004 - FIORI/└─ 🧩 11 - BINDING/05 - 🍧 BINDING - D.md
└─ 🧩 004 - FIORI/└─ 🧩 11 - BINDING/06 - 🍧 MODEL REFRESH (BEST PRACTICE).md

└─ 🧩 004 - FIORI/└─ 🧩 12 - NAVIGATION
└─ 🧩 004 - FIORI/└─ 🧩 13 - FRAGMENTS
└─ 🧩 004 - FIORI/└─ 🧩 14 - FILTERS
└─ 🧩 004 - FIORI/└─ 🧩 15 - SDK